.info {

    &__question {
        color: white;
        font-size: 50px;
        text-align: center;
        margin-bottom: 70px;
        }

        &--aniversario {
            background-image: linear-gradient(to bottom,#a341ff,#8400ff);
        }

        &--comidas {
            background-image: linear-gradient(to bottom ,#8400ff,#a341ff);
        }

        &--lembracinhas {
            background-image: linear-gradient(to bottom,#a341ff,#8400ff);
        }

        &__box {
            display: flex;
            gap: 40px;
            align-items: center;
            padding: 80px;
            margin-bottom: 40px;
        }

        &__title {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }

        &__img {
            width: 400px;
        }

        &__text {
            color: white;
        }

    }

    @media (max-width: 767px) {
        .info{
            &__question{
                font-size: 2rem;
            }
            &__box {
                display: flex;
                gap: 20px;
                align-items: center;
                padding: 80px;
                margin-bottom: 40px;
            }

            &__img {
                width: 170px;
            }

            &__title {
                font-size: 26px;
                font-weight: bold;
                margin-bottom: 16px;
            }
    
            &__details {
                font-size: 12px;
            }
            
        }
    }
    
    @media (min-width:768px) and (max-width: 1023px){
        .info{
            &__img {
                width: 300px;
            }
    }
}

