@use '_hero';
@use '_info';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #b569fc, #b86bff);
    height: 100vh;
    background-size: cover;
    
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}


.image__left {
    flex-direction: row-reverse;
}






